<div class="card text-center">
<div class="card-body">
<h1 class="card-title">Hi! Please confirm your email!</h1>

<p class="card-text">
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
</div>
</div>
