{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="mb-5">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        
        <button type="submit" class="btn btn-outline-primary mt-2">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
