<turbo-frame id="Message" class="d-none d-lg-block">
    <div class=" Area" id="Messages" style="display: none; width:700px">
        <div id="app" data-username="{{ app.user.email }}">
            
        </div>
</div>
</turbo-frame>