{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Article{% endblock %}
{% block editedStylesheets %}
<link rel="stylesheet" href="{{ asset('Custom/css/imageUploader.css') }}">
<script src="https://kit.fontawesome.com/f5c6240b80.js"></script>
{% endblock %}
{% block body %}
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

{% if is_granted('ROLE_ADMIN') %}   
    <a href="{{ path('article_index') }}">back to list</a>
{% endif %}
{% endblock %}
{% block BodyScript %}
<script src="{{ asset('Custom/js/imageUploader.js') }}"></script>
{% endblock %}