<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Payment Succes</title>

	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ asset('Custom/css/PageS.css') }}" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404" style="background-image: url(' {{ asset("Uploads/emoji.png") }} ')"></div>
			<h1>Error</h1>
			<h2>Oops! looks like u submit something wrong</h2>
			<p>You can come back and check your payments information</p>
			<a href="{{ path('home') }}">Back to homepage</a>
		</div>
	</div>

</body>

</html>